name: Release

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

permissions: write-all

jobs:
  build-and-deploy:
    uses: "OpenDonationAssistant/oda-libraries/.github/workflows/release_service.yml@master"
    secrets: inherit
    with:
      service: media-service
      version: "${{ github.RUN_NUMBER }}"
